*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  display: flex;
}

input[type='file']{
  display: none
}

.uploadTextFile{
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  padding: 3px;
}

div.data_upload .test_button{
  /* margin-bottom: 3px; */
}

div.data_upload .level3:last-child{
  text-align: left;
  padding-left: 20%;
}

.data_enter input::placeholder{
  font-style: italic;
}

.my-placeholder{
  font-style: italic;
}


/* CSS for left and right blocks */

.compute{
  width: 55%;
  height: 100%;
  /* margin: auto; */
  border-right: 5px solid black;
}

.problem_explanation{
  width: 45%;
  height: 100%;
}


/* CSS for left pane, problem solving, commented code for reference */

/* .compute{
  width: 60%;
  height: 100%;
  float: left;
  border-right: 5px solid black;
} */

.compute div.level1{
  width: 200px;
  height: 100px;
  margin: auto;
  display: flex;
  text-align: center;
}

.compute div.level2{
  margin: auto;
}

.compute div.level3{
  margin-top: 5px;
}

.compute div.level1.data_enter{
    margin-top: 100px;
}

.compute div.level1.result{
  margin-top: 50px;
  background: #E6E6FA;
  height: 50px;
}

.compute div.data_upload .level3{
  margin: 10px 0;
}


/* CSS for right pane (explanation), commented code for reference */

/* .problem_explanation{
  width: 40%;
  height: 100%;
} */

div.q-desc{
  text-align: justify;
}

div.a-desc{
  text-align: justify;
}

.problem_explanation .level1{
  margin: 50px;
  display: flex;
  text-align: center;
}

.problem_explanation .level2{
  width: 100%;
  /* position: relative; */
}

.problem_explanation .level3{
  margin: 10px;
}

.problem_explanation .level4{
  position: relative;
  padding: 2px;
}
